@font-face {
    font-family: "IBM-Regular";
    src: url(/static/fonts/IBMPlexMono-regular-latin.woff2);
}

@font-face {
    font-family: "IBM-Text";
    src: url(/static/fonts/IBMPlexSans-text-latin.woff2);
}

body {
    margin: auto;
    width: 60%;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    border: solid purple 1px;
    border-radius: 10px;
    background-color: cadetblue;
}

img {
    border-radius: 10px;
}

.button {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2980b9;
}

h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}