@font-face {
    font-family: "IBM-Regular";
    src: url(/static/fonts/IBMPlexMono-regular-latin.woff2);
}

@font-face {
    font-family: "IBM-Text";
    src: url(/static/fonts/IBMPlexSans-text-latin.woff2);
}

#navigation-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(51, 48, 54, 0.8);
    border-radius: 5px;
}

#navigation-container ul {
    display: flex;
    gap: 3rem;
    color: var(--white0);
    list-style: none;
    margin-right: 30px;
}

#navigation-container ul li a:hover {
    color: var(--purple15);
    font-weight: bold;
}

#navigation-container ul li a {
    color: var(--white);
    text-decoration: none;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.filteeer {
    width: 40px;
}

.test {
    display: flex;
    align-items: center;
    justify-content: center;
}

html {
    font-family: "IBM-Regular";
}

/* body {
    background-color: cadetblue;
} */

h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 100px;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.filtersContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border: black 1px dotted;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow-x: auto;
}

.filtersContainer form {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.filtersContainer .date-inputs,
.filtersContainer .members-fieldset,
.filtersContainer .locations-filter {
    flex: 1;
    min-width: 200px;
}

.filtersContainer .date-inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.filtersContainer .date-input {
    display: flex;
    align-items: center;
    gap: 5px;
}

.filtersContainer label {
    white-space: nowrap;
}

.filtersContainer input[type="number"] {
    width: 80px;
}

.filtersContainer .members-checkboxes {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.filtersContainer .locations-filter {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* .filtersContainer,
.searchContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    border: solid black 2px;
    border-radius: 10px;
    background-color: cadetblue;
    width: 240px;
}

img {
    border-radius: 10px;
}

button {
    background: none;
    border: none;
    padding: 0;
}

button:hover {
    cursor: pointer;
    border-radius: 10px;
}

form {
    margin: 20px;
    display: flex;
    align-items: center;
}

label {
    margin-right: 10px;
    font-weight: bold;
}

input[type="search"] {
    padding: 10px;
    border: 2px solid #333;
    border-radius: 20px;
    outline: none;
    font-size: 16px;
    margin-right: 10px;
    height: 37px;
}

input[type="number"] {
    padding: 5px;
    border: 2px solid #333;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    /* margin-right: 10px; */
    text-align: center;
    width: 100px;
    height: 20px;
}

input[type="search"]:focus {
    border-color: #007BFF;
}

input[type="submit"] {
    padding: 5px 20px;
    border: 2px solid #333;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

fieldset {
    border: 2px solid #007BFF;
    border-radius: 8px;
    /* padding: 15px; */
    background-color: #f9f9f9;
    /* margin: 20px; */
    display: flex;
    justify-content: center;
    gap: 10px;
}

legend {
    font-weight: bold;
    font-size: 1.2em;
    color: #007BFF;
    padding: 0 10px;
    background-color: #f9f9f9;
    border: #007BFF solid 2px;
    border-radius: 8px;
}

label {
    margin: 10px 0;
    cursor: pointer;
}

input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.2);
    accent-color: #0f253b;
}

input[type="checkbox"]:hover {
    cursor: pointer;
    accent-color: #5fa5ec;
}