<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/search_Filters.css">
    <title>Groupie Tracker</title>
    
</head>

<body>
    <div class="button">
        <a href="/">
            <button>Home</button>
        </a>
    </div>
    <h1>Groupie-Tracker</h1>
    <div class="container">
        {{range .}}

        <div class="card">
            <a href="informations/{{.Id}}"><img src="{{.Image}}" alt="{{.Name}}"></a>
            {{.Name}}
        </div>
        {{end}}
    </div>
</body>
</html>